VITE_SUPABASE_URL=https://usrhvuzqmiwncjxlmcxl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVzcmh2dXpxbWl3bmNqeGxtY3hsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwMTYxNjksImV4cCI6MjA5NjU5MjE2OX0.GaPFyRU5IuVfvHzq8lHga6jpGC8IgE-UOX1WFpaWc7U